<app-header></app-header>

  <div class="container ">
    <div class="d-flex align-items-center">
  <table class="table table-info table-striped " >
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Carrera</th>
            <th scope="col">Hobbie</th>
          </tr>
        </thead>
        <tbody    >
          <tr *ngFor="let a of ap">
            
            <td>
              <span>{{a.nombre}}</span>
            </td>
            <td>
              <span>{{a.edad}}</span>
            </td>
            <td>
              <span>{{a.carrera}}</span>
            </td>
            <td>
              <span>{{a.hobbie}}</span>
            </td>
            
          </tr>
          
        </tbody>
      </table>
    </div>
      
  </div>
  
      
   

<app-footer></app-footer>